<!DOCTYPE html>
<!-- LUCAS GOMES DA SILVA-->
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> 
    <br>
    <div id="buttons">
      <button onclick="cinza(0)">Tons de Cinza</button>
      <button onclick="gaussiano()">Gaussiano</button>
      <button onclick="LoG()">Arestas 1</button>
      <button onclick="LoGinv()">Arestas 2</button>
      <button >MODO4</button>
    </div>
    <br>
    <div id="buttonslow">
      <button onclick="LoG()">LoG</button>
      <button onclick="LoGinv()">LoG inverso</button>
    </div>
    <br>
    <br>
    <canvas id="canvas" width="640" height="480"></canvas>
    <br>
    <div class="imgs">
      <img src='/images/gnu.jpg' width="100" height="75" onclick="drawimg(this)"/>
      <img src='/images/img-2.jpg' width="100" height="75" onclick="drawimg(this)"/>
      <img src='/images/img-3.jpg' width="100" height="75" onclick="drawimg(this)"/>
      <img src='/images/img-4.jpg' width="100" height="75" onclick="drawimg(this)"/>
      <img src='/images/img-5.jpg' width="100" height="75" onclick="drawimg(this)"/>
    </div>

    <br>


    <script src='/javascripts/imgproc.js' ></script>
  </body>
</html>
